body{
    background-color: black;
}

h1{
    color: white;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas: 
    "head head head head head"
    "sl nav nav nav nav"
    "con con con con con"
    "foot foot foot foot foot";
    grid-gap: 10px;
}

a:hover{
    border: 3px gray solid;
}

.members{
    color: gray;
    text-decoration: none;
    font-weight: 120;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li{
    color: white;
}

h3{
    color: white;
}

h2{
    color: white;
}

h6{
    color: white;
}

.footerp{
    color: white;
}

.head{
    grid-area: head;
}

.slideleft{
    background-color: gray;
    grid-area: sl;
}

.nav{
    background-color: gray;
    grid-area: nav;
}

.content{
    background-color: gray;
    grid-area: con;
}

.footer{
    grid-area: foot;
}

.week{
    color: white;
    font-size: 50px;
}
