body{
    background-color: black;
}

h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h3{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h4{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
